{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<aside class="author-card" itemscope itemtype="https://schema.org/Person" aria-label="Author profile">
  <img class="author-card__avatar" src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="Portrait of Jiayi Deng" width="180" height="180">
  <div class="author-card__content">
    <h2 class="author-card__name" itemprop="name">{{ author.name }}</h2>
    {% if author.bio %}<p class="author-card__bio" itemprop="description">{{ author.bio }}</p>{% endif %}
    {% if author.location %}<p class="author-card__meta">{{ author.location }}</p>{% endif %}
  </div>
  <ul class="author-card__links">
    {% if author.email %}<li><a href="mailto:{{ author.email }}">Email</a></li>{% endif %}
    {% if author.github %}<li><a href="https://github.com/{{ author.github }}">GitHub</a></li>{% endif %}
    {% if author.googlescholar %}<li><a href="{{ author.googlescholar }}">Google Scholar</a></li>{% endif %}
    {% if author.orcid %}<li><a href="{{ author.orcid }}">ORCID</a></li>{% endif %}
  </ul>
</aside>
